.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 30px;
}
.nav__logo{
    position: fixed;
    left: 20px;
    color:crimson;
}
.nav__profile{
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}
.nav__black{
    background-color: #000;
}